* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
header
{
    height: 5em;
}

body
{
    background-attachment: fixed;
    background-size: cover;   
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-image: url("../images/bg_1.jpg");
   font-size: 1vw;
   
   
    
}
    

 @keyframes fadeInAnimation 
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

    
.head-tag
{
    float:left;
    margin-top: 2vw;
    
}
.tag
{
    text-decoration:none ;
    color:white;
    border:1px solid white;
    padding: 1vw;
    margin-right: 1vw;
}
 
.tag:hover
{
    background-color:whitesmoke;
    color:black;
    transition-delay: 0.5s ease-in-out;
}


.name
{
    font-size: 7vw;
    color: white;
    text-align:left;
    width:100%;
   
    
  
    
}

 .row{
     margin-top: 10%;
    background-color: white;
    margin-left: 12%;
    margin-right: 12%;
 
   
}
.column

{
    background-color: white;
    float:left;
    width:24%;
    margin: 3vw;
}


.picture
{

    height:12.5vw;
    width:12.5vw;
    margin:2.5vw;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    
}
.picture:hover {
    
    opacity: 0;
    cursor: pointer;
}
.face
{
    height:12.5vw;
    width:12.5vw;
    margin:2.5vw;
}

p a{
    text-align: center;
    font-weight: bold;
    padding: 2vw;
    text-decoration: none;
    color: black;
}
p a:hover{
    color: thistle;
}


#teacher{
    padding:1vw;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
}
.picture:hover ~ #teacher
{
    visibility: visible;
}

#social
{
    color:white;
    font-size:2vw;
    padding:0.3vw;

}


