<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="../static/css/style.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>$(document).ready(function(){
        $(this).scrollTop(0);
        });
    </script>
</head>
<body>
    <header>
        <div class=head-tag>
           <a class="tag"  href="../index.html">Home</a>
           <a  class="tag" href="../index.html#about">About</a>
           <a class="tag"  href="../index.html#contact">Contact</a>
           <a class="tag" href="courses.html">Courses</a>
           
        </div>
       
    </header>
    
    <div class="row" >
        <div class="column">
            <img class="picture" src="../static/images/img_2.jpg" >
            <img  class="face" src="../static/images/img_9.jpg" >
            <p align="center" >GUITAR</p>
                <p id="teacher">INSTRUCTOR : AIDA</p>
            

        </div>

        <div  class="column"  >
           <img class="picture" src="../static/images/img_1.jpg" >
           <img  class="face" src="../static/images/img_7.jpg" >

           <p  align="center">PIANO</p>
           
           <p id="teacher">INSTRUCTOR : RONEN</p>


        </div>

        <div class="column" >
            <img class="picture" src="../static/images/img_3.jpg">
            <img  class="face" src="../static/images/img_8.png" >

            <p  align="center">UKULELE</p>
            <p id="teacher">INSTRUCTOR : ARIA</p>


        </div>
    </div>
    
    

    <div class="row">
        <div class="column" >
            <img class="picture" src="../static/images/img_4.jpg" >
            <img  class="face" src="../static/images/img_11.png" >

            <p  align="center">DRUM SET</p>
            <p id="teacher">INSTRUCTOR : ZAMIR</p>


        </div>
        <div class="column" >
            <img class="picture" src="../static/images/img_5.jpg" >
            <img  class="face" src="../static/images/img_10.png" >

            <p  align="center">FLUTE</p>

            <p id="teacher">INSTRUCTOR : RAGA</p>


        </div>
        <div class="column" >
            <img class="picture" src="../static/images/img_6.jpg" >
            <img  class="face" src="../static/images/img_12.png" >

            <p  align="center">SAXOPHONE<p>
                <p id="teacher">INSTRUCTOR : DANNY</p>


        </div>
    </div>
</body>
</html>